<% provide(:title, "Basics") %>
<% provide(:image, 'https://amei.mx/wp-content/uploads/2019/03/png-internet-internet-icon-1600.png') %>

<h1>Basics</h1>

<ul>
    <li>
        ¿Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?
        <p>
            <span class = "important">Respuesta: </span>
            Un 'resource' es un recuso a disposicion del REST (json, xml, imagenes, etc). El servidor REST proporciona acceso a los recursos y el cliente REST accede y modifica esos recursos.
        </p>
    </li>
    <li>
        ¿Qué puede hacerse con un resource?
        <p>
            <span class = "important">Respuesta: </span>
            Los recursos contienen datos/información, y 
        </p>
    </li>
    <li>
        ¿Qué es RESTful routing?
        <p>
            <span class = "important">Respuesta: </span>
            El enrutamiento RESTful es un estandar que se utiliza en muchos idiomas diferentes para crear rutas eficientes y reutilizables. Esto facilita que los desarrolladores entiendan y puedan navegar por una aplicación, además da como resultado rutas de URL muy faciles de entender para los usuarios.
            <ul>
                <li>
                    ¿Cuántas acciones básicas tiene esta filosofía?
                    <p>
                        <span class = "important">Respuesta: </span>
                        4, el llamado CRUD.
                    </p>
                </li>
                <li>
                    ¿Cuáles son?
                    <p>
                        <span class = "important">Respuesta: </span>
                        Crear, leer, actualizar y eliminar.
                    </p>
                </li>
                <li>
                    ¿Cuáles verbos HTTP se utilizan en cada una de ellas?
                    <p>
                        <span class = "important">Respuesta: </span>
                        <ul>
                            <li>POST -> crear</li>
                            <li>GET -> leer</li>
                            <li>PATCH -> actualizar</li>
                            <li>DELETE -> elimina</li>
                        </ul>
                    </p>
                </li>
            </ul>
        </p>
    </li>
</ul>
