<% provide(:title, "Git") %>
<% provide(:image, 'https://icones.pro/wp-content/uploads/2021/06/symbole-github-orange.png') %>


<h1>GIT</h1>

<p>Resumen de cómo se realizan las siguientes acciones usando solamente git por consola</p>

<ul>
    <li>
        Inicialización de un repositorio de git nuevo en una aplicación existente
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Creación de un branch nuevo
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Realizar un commit incluyendo todos los cambios actuales
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Cómo enviar el código al repositorio remoto
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull.
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Diferencia entre un reset y revert
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Además de cambiar de ramas, para qué más se puede utilizar el comando git checkout
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        Como puede ver los commits que se han realizado en el proyecto
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
    <li>
        He modificado dos archivos y quiero hacer un commit por cada uno de ellos, ¿cómo lo puedo hacer?
        <p>
            <span class = "important">Respuesta: </span>
        </p>
    </li>
</ul>
