<% provide(:title, "Git") %>
<% provide(:image, 'https://icones.pro/wp-content/uploads/2021/06/symbole-github-orange.png') %>


<h1>StaticPages#git</h1>
<p>Find me in app/views/static_pages/git.html.erb</p>
