<% provide(:title, "Home") %>
<% provide(:image, 'https://www.pngkit.com/png/full/41-413073_5422c3418a632d4241caa626-home-icon-home-icons-for-website-png.png') %>


<h1>HOME</h1>
<p>
    La hora y fecha actual en Colombia es:
    <%= 
        a = Time.now
        time = a.to_s.split(' ')
        time[0..1].join('  /  ')
    %>
</p>

<p>
    Puede visitar para mas información:
    <ul class = "list" >
        <li> <a href = "/static_pages/basics">Basics</a></li>
        <li> <a href = "/static_pages/ruby">Ruby</a></li>
        <li> <a href = "/static_pages/git">Git</a></li>
    </ul>
</p>

